{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Blog Application</title>
</head>

<body>
    {% if user.is_authenticated %}
    <h2>Welcome {{user.username}}!</h2>

    <h1>Uploaded Blogs</h1>
    <ul>
        <div class="container">
            {% for i in blog_list %}
            <li>
                <a href="{% url 'detailview' i.id %}">
                    <h3>{{ i.title }} || Written By: {{ i.author }}</h3>
                </a>
            </li>
            {% endfor %}
        </div>
    </ul>
    <center><button><a href="{% url 'newview' %}">Create New Blog</a></button></center>
    {% else %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
    </form>
    {% endif %}
</body>

</html>