{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Blog Application | Detail</title>
</head>

<body>
    <h1>Blog Detail </h1>
        <div class="container">
                <h3>{{ object.title }} || Written By: {{ object.author }}</h3>
                <p>{{ object.body }}</p> 
            
        </div>

</body>

</html>